@mixin highlight ($color:white) {
    border: dashed $color 1px;
}

@mixin btn_icon {
    /* the main styles for all spans inside buttons */
    background-size: contain;
    display: inline-block;
    height: 15px;
    width: 15px;
}

@mixin size($height, $width:$height) {
    height: $height;
    width: $width;
}

body {
    &.dark_theme {
        background-image: url(files/windows-10-2560x1440.jpg);
        background-size: 1920px 150vh;
        background-position: -140px -154px;
    }
    &.light_theme {
        background-image: url(files/windows_10_light_2k.jpeg);
        background-size: 1688px 112vh;
        background-position: -69px -24px;
    }
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* the main thing,exact calculator */
    /* border: solid rgb(59, 226, 226) 0.7px; */
    &.dark_theme {
        background-color: rgba(37, 37, 37, 0.801);
        color: white;
    }
    &.light_theme {
        background-color: #BDE0F0;
        color: rgb(12, 12, 12);
    }
    border: solid rgb(126, 126, 126) 0.7px;
    padding: 5px 3px;
    width: 320px;
    height: 500px;
    flex-direction: column;
    // background-color: rgba(37,
    // 37,
    // 37,
    // 0.801);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    font-family: 'Roboto',
    sans-serif;
}

button {
    background-color: transparent;
    border: unset;
}

.view_head {
    /* line that contain name and window btn`s */
    padding: 3px 5px;
    color: inherit;
    font-size: small;
    .view_head_buttons_container {
        display: flex;
        justify-content: space-between;
        float: right;
        width: 105px;
        margin-right: 8px;
        .view_head_button__underscore>span {
            &.dark_theme {
                background: url("files/minus.png");
            }
            &.light_theme {
                background: url("files/minus_drk.png");
            }
            position: relative;
            top: 6px;
        }
        .view_head_button__fullscreen>span {
            &.dark_theme {
                background: url("files/square_btn.png");
            }
            &.light_theme {
                background: url("files/square_btn_drk.png");
            }
        }
        .view_head_button__close>span {
            &.dark_theme {
                background: url("files/close_btn.png");
            }
            &.light_theme {
                background: url("files/close_btn_drk.png");
            }
            // background: url("files/close_btn.png");
        }
        .view_head_button {
            /* common rules for btn`s of this part */
            border: none;
            background-color: transparent;
            padding: 0;
            height: 12px;
            width: 12px;
            &>span.dark_theme,
            &>span.light_theme {
                /* comon rules for span insede btn`s for icons */
                background-size: contain;
                display: inline-block;
                height: 12px;
                width: 12px;
            }
        }
    }
}

.side_menu {
    $top-offset: 32px;
    position: fixed;
    top: $top-offset;
    left: 0;
    &.dark_theme {
        background-color: #222324;
        color: white;
    }
    &.light_theme {
        background-color: #d5e3f1;
        color: rgb(8, 8, 20);
    }
    overflow-x: hidden;
    height: 93.5%;
    & .content {
        margin-top: 40px;
        width: 130px;
        & h3 {
            margin-left: 5px;
            margin-bottom: 5px;
            font: inherit bold;
        }
        & button {
            color: inherit;
            float: right;
            width: 100%;
            text-align: end;
        }
    }
    transition: 0.2s cubic-bezier(1,
    .02,
    .66,
    1.1);
}

.menu_row {
    color: inherit;
    height: 50px;
    align-items: center;
    font-size: 20px;
    margin-top: 8px;
    &>span {
        margin-left: 15px;
    }
    &.dark_theme .menu_button>span {
        background: url("files/menu.png");
        @include btn_icon;
    }
    &.light_theme .menu_button>span {
        background: url("files/menu_drk.png");
        @include btn_icon;
        // 
    }
    .menu_button {
        position: relative;
        &>span {
            z-index: 999;
        }
        &:hover {
            background-color: #A9C8D6;
        }
    }
    &.dark_theme .menu_button_timeMachine>span {
        background: url("files/time_machine.png");
        @include btn_icon;
    }
    &.light_theme .menu_button_timeMachine>span {
        background: url("files/time_machine_drk.png");
        @include btn_icon;
    }
    .menu_button_timeMachine {
        float: right;
        &>span {
            height: 20px;
            width: 20px;
        }
    }
    &.dark_theme .menu_button_collapse>span {
        background: url("files/expand.png");
        @include btn_icon;
    }
    &.light_theme .menu_button_collapse>span {
        background: url("files/expand_drk.png");
        @include btn_icon;
    }
}

.input_field {
    background-color: transparent;
    border: transparent;
    margin-top: 8px;
    height: 50px;
    width: 100%;
    text-align: right;
    color: inherit;
    font-size: 5vh;
    font-weight: bold;
}

.strange_btns {
    /* border: thin solid gray; */
    margin-top: 30px;
    height: 28px;
    width: 100%;
    display: flex;
    &>button {
        height: 100%;
        flex-grow: 1;
        width: auto;
        background-color: transparent;
        border: unset;
        color: inherit;
        font-weight: 700;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }
    .strange__btn__passive {
        color: rgba(145, 141, 141, 0.555);
    }
}

.grid_container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    height: 292px;
    &.light_theme>.grid_item {
        background-color: #D8ECF5;
        &.numpad {
            background-color: #FAFAFA;
        }
        &:nth-child(4)>button>span {
            background-image: url("files/backspace_drk.png");
        }
        &:nth-child(8)>button>span {
            background-image: url("files/divide_drk.png");
        }
        &:nth-child(12)>button>span {
            background-image: url("files/multiplication_drk.png");
        }
        &:nth-child(16)>button>span {
            background-image: url("files/minus_drk.png");
        }
        &:nth-child(20)>button>span {
            background-image: url("files/plus_drk.png");
        }
        &:nth-child(24)>button {
            background-color: #94A2B2;
            &>span {
                background-image: url("files/equal_drk.png");
            }
        }
    }
    &.dark_theme>.grid_item {
        background-color: rgba(19, 19, 19, 0.603);
        &.numpad {
            background-color: #060606;
        }
        &:nth-child(4)>button>span {
            background-image: url("files/backspace.png");
        }
        &:nth-child(8)>button>span {
            background-image: url("files/divide.png");
        }
        &:nth-child(12)>button>span {
            background-image: url("files/multiplication.png");
        }
        &:nth-child(16)>button>span {
            background-image: url("files/minus.png");
        }
        &:nth-child(20)>button>span {
            background-image: url("files/plus.png");
        }
        &:nth-child(24)>button {
            background-color: #3c4653;
            &>span {
                background-image: url("files/equal.png");
            }
        }
    }
    .grid_item {
        margin: 1px;
        &>button {
            color: inherit;
            @include size(100%);
            &>span {
                background-size: contain;
                display: inline-block;
                @include size(20px);
            }
        }
        &.numpad {
            font-weight: bold;
        }
        &:nth-child(4)>button>span {
            // background-image: url("files/backspace.png");
            margin-top: 4px;
            margin-right: 2px;
        }
        &:nth-child(8)>button>span {
            @include size(15px);
        }
        &:nth-child(12)>button>span {
            @include size(13px);
        }
        &:nth-child(16)>button>span {
            @include size(15px);
        }
        &:nth-child(20)>button>span {
            @include size(15px);
        }
        &:nth-child(24)>button {
            &>span {
                @include size(18px);
                margin-top: 8px;
            }
        }
    }
}