body {
		/* background: linear-gradient(to bottom, #0e2a63 0%, #2a9fec 100%); */
		background-image: url("https://i.pinimg.com/originals/ff/33/9b/ff339bf38d4d19a87008eaa11bf2f4c0.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
}

.container {
		/* the main thing,exact calculator */
		/* border: solid rgb(59, 226, 226) 0.7px; */
		border: solid #7e7e7e 0.7px;
		padding: 5px 3px;
		width: 320px;
		height: 500px;
		flex-direction: column;
		background-color: rgba(37, 37, 37, 0.801);
		-webkit-backdrop-filter: blur(8px);
		        backdrop-filter: blur(8px);
		font-family: "Roboto", sans-serif;
}

button {
		background-color: transparent;
		border: unset;
}

.view_head {
		/* line that contain name and window btn`s */
		padding: 3px 5px;
		color: white;
		font-size: small;
}
.view_head .view_head_buttons_container {
		display: flex;
		justify-content: space-between;
		float: right;
		width: 105px;
		margin-right: 8px;
}
.view_head .view_head_buttons_container .view_head_button__underscore {
		color: white;
		font-size: large;
}
.view_head .view_head_buttons_container .view_head_button__fullscreen > span {
		background: url("files/square_btn.png");
}
.view_head .view_head_buttons_container .view_head_button__close > span {
		background: url("files/close_btn.png");
}
.view_head .view_head_buttons_container .view_head_button {
		/* common rules for btn`s of this part */
		border: none;
		background-color: transparent;
		padding: 0;
		height: 12px;
		width: 12px;
}
.view_head .view_head_buttons_container .view_head_button > span {
		/* comon rules for span insede btn`s for icons */
		background-size: contain;
		display: inline-block;
		height: 12px;
		width: 12px;
}

.side_menu {
		position: fixed;
		top: 32px;
		left: 0;
		background-color: #222324;
		overflow-x: hidden;
		height: 93.5%;
		transition: 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.side_menu .content {
		margin-top: 40px;
		width: 130px;
		color: white;
}
.side_menu .content h3 {
		margin-left: 5px;
		margin-bottom: 5px;
		font: inherit bold;
}
.side_menu .content button {
		color: inherit;
		float: right;
}

.menu_row {
		color: white;
		height: 50px;
		align-items: center;
		font-size: 20px;
		margin-top: 8px;
}
.menu_row > span {
		margin-left: 15px;
}
.menu_row .menu_button {
		position: relative;
}
.menu_row .menu_button > span {
		background: url("files/menu.png");
		/* the main styles for all spans inside buttons */
		background-size: contain;
		display: inline-block;
		height: 15px;
		width: 15px;
		z-index: 999;
}
.menu_row .menu_button_timeMachine {
		float: right;
}
.menu_row .menu_button_timeMachine > span {
		background: url("files/icons8-time-machine-24.png");
		/* the main styles for all spans inside buttons */
		background-size: contain;
		display: inline-block;
		height: 15px;
		width: 15px;
		height: 20px;
		width: 20px;
}
.menu_row .menu_button_collapse > span {
		background: url("files/expand.png");
		/* the main styles for all spans inside buttons */
		background-size: contain;
		display: inline-block;
		height: 15px;
		width: 15px;
}

.input_field {
		background-color: transparent;
		border: transparent;
		margin-top: 8px;
		height: 50px;
		width: 100%;
		text-align: right;
		color: white;
		font-size: 5vh;
		font-weight: bold;
}

.strange_btns {
		/* border: thin solid gray; */
		margin-top: 30px;
		height: 28px;
		width: 100%;
		display: flex;
}
.strange_btns > button {
		height: 100%;
		flex-grow: 1;
		width: auto;
		background-color: transparent;
		border: unset;
		color: white;
		font-weight: 700;
		font-size: 12px;
		font-family: "Roboto", sans-serif;
}
.strange_btns .strange__btn__passive {
		color: rgba(145, 141, 141, 0.555);
}

.grid_container {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
		height: 292px;
}
.grid_container .grid_item {
		background-color: rgba(19, 19, 19, 0.603);
		margin: 1px;
}
.grid_container .grid_item > button {
		color: white;
		height: 100%;
		width: 100%;
}
.grid_container .grid_item > button > span {
		background-size: contain;
		display: inline-block;
		height: 20px;
		width: 20px;
}
.grid_container .grid_item:nth-child(4) > button > span {
		background-image: url("files/backspace.png");
		margin-top: 4px;
		margin-right: 2px;
}
.grid_container .grid_item:nth-child(8) > button > span {
		background-image: url("files/divide.png");
		height: 15px;
		width: 15px;
}
.grid_container .grid_item:nth-child(12) > button > span {
		background-image: url("files/multiplication.png");
		height: 13px;
		width: 13px;
}
.grid_container .grid_item:nth-child(16) > button > span {
		background-image: url("files/minus.png");
		height: 15px;
		width: 15px;
}
.grid_container .grid_item:nth-child(20) > button > span {
		background-image: url("files/plus.png");
		height: 15px;
		width: 15px;
}
.grid_container .grid_item:nth-child(24) > button {
		background-color: #3c4653;
}
.grid_container .grid_item:nth-child(24) > button > span {
		background-image: url("files/equal.png");
		height: 18px;
		width: 18px;
		margin-top: 8px;
}
.grid_container .numpad {
		background-color: #060606;
}